// Font
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
$font: 'Ubuntu', sans-serif;

// Colors - background
$bg: rgb(24, 23, 34);
$bg-form: rgb(36, 36, 36);
$bg-contrast: black;

// Colors - foreground
$text-dark: rgb(15, 15, 15);
$text-light: rgb(216, 216, 216);
$text-muted: gray;
$text-success: #63cd5f;
$text-error: #f94141;

// Colors - accent
$accent: rgb(165, 201, 99);
$accent-hover: ligthen($accent, 5%);
$accent-focus: darken($accent, 5%);

// Shadows
$card-shadow: 6px 6px 16px 0 rgba(0, 0, 0, 0.137), -6px -6px 16px 0 rgba(34, 32, 32, 0.199);

// Corners
$card-radius: 10px;
$border-radius: 0.5rem;
$border: gray;

@import './theia';
