html {
	height: 100%;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	background-color: $bg;
	color: getTextColor($bg);
}

main {
	margin: 2rem 0px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	main {
		padding: 0px 0.5rem;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	main {
		padding: 0px 1rem;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	main {
		padding: 0px 3rem;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	main {
		padding: 0px 10%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	main {
		padding: 0px 12.5%;
	}
}
