.muted {
	color: $text-muted;
}

.accent {
	color: $accent;
}

.fg {
	color: $text-light;
}

.bg {
	background-color: $bg;
}

.bg-contrast {
	background: linear-gradient(255deg, adjust-hue($accent, -30deg), adjust-hue($accent, 30deg));
}

.success {
	color: $text-success;
}

.error {
	color: $text-error;
}
