.muted {
	color: $text-muted;
}

.accent {
	color: $accent;
}

.fg {
	color: $text-light;
}

.bg {
	background-color: $bg;
}

.bg-gradient {
	background: linear-gradient(45deg, adjust-hue($accent, 50deg), adjust-hue($accent, -50deg));
	background-size: 300% 300%;
	animation: GradientSpin 10s ease infinite;
}

.success {
	color: $text-success;
}

.error {
	color: $text-error;
}

@keyframes GradientSpin {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}
