.feed {
	&-event {
		display: flex;
		margin: 1rem 0px;

		&-icon {
			display: block;
			margin-right: 1rem;
			width: 2.2rem;
			height: 2.2rem;

			img {
				border-radius: 2px;
			}
		}

		&-content {
			.date {
				font-size: 0.85rem;
				line-height: 0.85rem;
			}
		}
	}
}
