.pullout {
	padding: 60px 0px;
	max-width: 90%;
	margin: auto;

	&-header {
		text-align: center;
		max-width: 90%;
		margin: auto;
	}

	&-paragraph {
		margin: auto;
		margin-top: 20px;
		text-align: center;
		max-width: 90%;
		font-size: 1.25rem;
		line-height: 1.5;
	}
}
